body, html {
  font-family: 'Roboto', sans-serif !important;
  transition: .5s;
}
.navbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 45px;
  padding: 0 1rem;
  background: #f0f0f0;
}

.navbar .brand {
  padding: .3rem .5rem;
}
.navbar .brand img {
  max-height: 5vh;
  padding: .3rem .5rem;
}
.navbar .navbar-right-buttons {
  display: flex;
  align-items: center;
}
.navbar .menu-inline-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.navbar .menu-inline-list li > a {
  padding: .3rem .5rem;
}
.navbar .toggleSidebar {
  cursor: pointer;
}

.search {
  display: flex;
}

.search-input {
  width: 40vw;
  min-height: 22px;
  border: 1px solid #ddd;
  padding: .3rem .5rem;
}
.search-input:focus {
  outline: 0;
  border-color: #7195d0;
}
.button-search {
  margin: 0;
  border: 1px solid #ddd;
  padding: .5rem 1rem;
}
.button-search:hover {
  cursor: pointer;
}
.button-search:focus {
  outline: 0;
}

.wrapper {
  width: 100vw;
  display: flex;
  position: relative;
}
.sidebar {
  width: 20vw;
  min-height: 100vh;
  padding: 1rem;
  position: fixed;
  background-color: #f9f9f9;
}
.sidebar.sidebar-hidden {
  display: none;
}
.content {
  width: 80vw;
  margin-left: 20vw;
  padding: 1rem;
}
.content.no-margin-content {
  width: 100vw;
  margin-left: 0;
}

.card {
  box-shadow: 2px 2px 5px #ddd;
  margin: .5rem;
  padding: .5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.card .card-thumbnail {
  height: 110px;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: .5rem;
}
.card .card-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.card .card-title a {
  color: #333;
  margin: .5rem 0;
  text-decoration: none;
  display: block;
}
.card .card-description {
  color: #999;
  font-size: .8rem;
}

#trends {
  display: flex;
  flex-wrap: wrap;
}

#loader {
  display: none;
}
.show {
  display: block !important;
}